html {
    font-size: 16px;
    line-height: 1.3;
}
body {
    overflow-x: hidden;
}
#nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: hsla(0,0%,100%,.98);
        transition: box-shadow .25s ease 0s;
    }
#header-container{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: auto auto;
    position: relative;
    display: flex;
    justify-content: space-between
}

.is-current{
    color: #00b39b !important;
}
#nav a{
    display: inline-block;
    color: grey;
}
.logo-docplanner {
    width: 268px;
    height: 33px;

}
img{
        max-width: 100%;
        height: auto;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}
.main-menu a {
    /* display: block; */
    text-decoration: none;
    padding: 0.6em;
}
.main-menu .is-current, .main-menu .is-current a {
    color: #00b39b;
}
.main-menu li {
    display: inline-block;
}
.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}
.dropdown-content {
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
    display: none;
}
.dropdown {
    cursor: pointer;
    position: relative;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul li a:hover {
    color: #00b39b !important;
}
.main-nav {
    position: relative;
    margin: -12px 0px;
}
.dropdown-content ul li a{
    width: 190px;
}

#health-exp{
    margin-top: 40px;
}

#health-exp img{
        display: block;
        margin: 15px auto;
        
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
}

.health-exp{
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

#health-text{
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 150px;
    padding-top: 20px;
}


.health-text-patients{
    line-height: 2em;
    font-size: 15px;
    font-family: inherit;
    font-weight: lighter;
    color: grey;
}
.health-text-doctors{
    line-height: 2em;
    font-size: 15px;
    font-family: inherit;
    font-weight: lighter;
    color: grey;
    margin-left: 90px;
}

#services{
    display: flex;
    width: 90%; 
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 160px;
}


.services{
    width: 250px;
    padding: 30px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    height: 300px;
    color: white;
    font-size: 18px;
  

}

#patient{
    background-color: #00ccb1;
    opacity: 1;
    margin-left: 50px;
}
#patient .custom-select select{
    margin-top: 80px;
    background-color:  #00ccb1 !important;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: underline;
}


#patient .custom-select select option{
    background-color: white;
    color: black;
    font-size: 15px;
}
#doctors{
    background-color: #3d83df;
    opacity: 1;
    margin-left: 20px;
}

#doctors .custom-select select{
    margin-top: 80px;
    background-color:  #3d83df !important;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: underline;
}
#doctors .custom-select select option{
    margin-top: 80px;
    background-color:  white;
    color: black;
    border: none;
    font-size: 15px;
    text-decoration: underline;
}
#clinic{
    background-color: #1b2734;
    opacity: 1;
    margin-left: 20px;
}

#clinic:hover{
    opacity: 1;
}

#clinic .more-twenty select{
    margin-top: 20px;
    background-color: #1b2734;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    border: none;

}
#clinic .more-twenty select option{
    background-color:  white;
    color: black;
    border: none;
    font-size: 15px;
    text-decoration: underline;
}
#clinic .two-twenty select option{
    background-color:  white;
    color: black;
    border: none;
    font-size: 15px;
    text-decoration: underline;
}

#clinic .two-twenty select{
    margin-top: 30px;
    background-color: #1b2734;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    border: none;
}
#sponsors{
    display: flex;
    width: 100%;
    margin-left: 150px;
    margin-top: 40px;
}

#sponsors h1{
    font-weight: lighter;
    font-family: monospace;
    font-size: 20px;
    padding-right: 100px;
}

#sponsors a{
    padding-right: 20px;
    /* margin-top: 60px; */
}

#sponsor-logo a:hover{
    color: #00b39b !important;
    
}

#sponsor-logo{
    margin-top: 30px;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 70px;
}

#sponsor-logo a img{
    color: grey !important;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;

}


#advert-logo{
    background-color: rgb(204, 241, 215);
    display: flex;
    padding: 20px;
}


#advert h2{
    font-weight: lighter;
    color: #00ccb1;
    padding-top: 40px;
    font-size: 35px;
}

#advert-back img{
   width: 350px;
}

#advert{
    margin-left: 130px;
}
#advert p{
    font-size: 13px;
}

#advert-points{
    margin-left: 130px;
}

.leader{
    background-color: white;
    text-align: center;
    margin-right: 7px;
    width: 200px;
    height: 220px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.leader p{
    font-size: 13px;
}
.leader h3, .active-doctors h3, .unique-patients h3, .appointments h3{
    color: #00ccb1;
}


.appointments{
    background-color: white;
    text-align: center;
    width: 210px;
    height: 220px;
    border-radius: 5px;
    margin-left: 10px;
}


.first-two{
    display: flex;
    justify-content: space-between;
}

.last-two{
    display: flex;
    margin-top: 10px;
}

.unique-patients{
    background-color: white;
    width: 210px;
    height: 220px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}

.active-doctors{
    background-color: white;
    width: 210px;
    height: 220px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    padding: 7px;
    margin-top: -30px;
}

#talent{
    text-align: center;
    padding-top: 40px;
}
#talent h3{
    font-family: monospace;
    color:  #00ccb1;
    font-weight: lighter;
}
#talent p{
    font-size: 13px;
}

#first-set{
    display: flex;
    margin-left: 150px;
    margin-top: 60px;
   
}

.warsaw{
  margin-left: 40px;
}

.warsaw h2{

    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
}

.warsaw button{
    background-color: rgb(60, 60, 197);
    margin-left: 120px;
    border-radius: 5px;
    color: white;
    padding: 7px;
    font-weight: bolder;
}

#second-set{
    display: flex;
    margin-left: 50px;
    margin-top: 60px;
    justify-content: center;
}
#mexico{
    display: flex;
    margin-left: 170px;
    margin-top: 60px;  
}

#countries img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#last-part{
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
}

#last-part h2{
    font-size: 25px;
    color: black;
    
}

#last-part  p{
    background-color: rgb(52, 52, 105);
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    font-weight: bolder;
    padding: 15px;
}

footer{
    margin-left: 150px;
    text-align: center;
    font-size: 12px;
    margin-top: 90px;
}

footer span{
    color: rgb(38, 38, 218);
}

footer p{
    margin-top: 10px;
}


